<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipepurchasing.recipe_id %>
</p>

<p>
  <strong>Purchasing:</strong>
  <%= @recipepurchasing.purchasing_id %>
</p>

<p>
  <strong>Production:</strong>
  <%= @recipepurchasing.production %>
</p>
