<div class="jumbotron">
  <h1 class="display-3">Your private virtual manager!</h1>
  <p class="lead">This is a food production virtual manager, that saves you time</p>
  <p class="lead">
    <button type="button" class="btn btn-lg btn-secondary" >
      <%= link_to 'Learn more', recipes_path %>
    </button>
  </p>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <h2>Simple</h2>
    <p>Donec id elit non mi porta gravida at eget metus.
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      Donec sed odio dui.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Effective</h2>
    <p>Donec id elit non mi porta gravida at eget metus.
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      Donec sed odio dui.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Safe</h2>
    <p>Donec id elit non mi porta gravida at eget metus.
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
      Donec sed odio dui.
    </p>
  </div>
</div>
